<%= provide(:title, 'About') %>

<h1>サイトについて</h1>
<div>
	<h3>
		Artisan Cafeは近年、特に注目をされているスペシャリティコーヒーを飲めるカフェを紹介してするメディアです。気に入ったカフェをお気に入りに追加するとカフェの新作メニューやイベントなどの情報がニュースフィードやE-mailで確認することができます！
		また、お気に入りのカフェの豆を購入したい！と思ったら、SHOP機能がついていますので、
		サイト経由で楽々購入することが可能です！是非、活用してみてください。
	</h3>
</div>

<h1>活用方法</h1>
<div>
	<ul>
		<li>①好きなカフェの記事を見つけて、情報収集</li>
		<li>②好きなカフェをお気に入り</li>
		<li>③新しい</li>
	</ul>
</div>