<% set_meta_tags title: 'About', description: 'COFFEESEEKERについて'  %>
</br>
<div class="cell"><h2 class="maint">About</h2></div>
<div class="cell">
<div class="text-left"><%= markdown("#### *Coffee Seekerとは？*
----
　Coffee Seekerはおいしいコーヒー・おしゃれなカフェを探し求める人のためのサイトです。世界中のカフェが提供するスペシャリティコーヒーを中心に紹介していき、一人でも多くの人がコーヒーの魅力に気づき、自分好みのコーヒー豆を見つけるきっかけになればうれしいです。また、コーヒーに関する豆知識もコラム形式でご紹介していきますので、併せてお楽しみ下さい。  
<br>
#### *スペシャリティーコーヒーとは？*
----
　スペシャリティーコーヒーは文字通りコーヒーの中でも、特別なコーヒーの総称であり、トレーサビリティ（生産農地・生産者・流通経路などが見える化できること）が確立されたものやコーヒーそもそもの味、香味が良いものを指します。
シングルオリジン（ブレンドされていないコーヒー豆）を使用し、コーヒー豆毎に際立った特徴を持っています。
<br>
#### *サイトの使い方*
----
**1.　おしゃれなカフェやおいしいコーヒーを飲みたい人**

　エリア別・コーヒー豆別に記事分けしているので、お近くの地域や旅先でのカフェを事前に確認してみて下さい。

**2.　お気に入りのカフェをブックマークしたい人**

　ユーザー登録をして、記事にあるハートマークをクリックしてみてください。自分のお気に入りのカフェを一覧で確認することができ、誰かとシェアしたりリマインド機能にもなります。
*ゆくゆくはニュースフィードで最新情報の取得やクーポン機能などを増やすようにしていきます。

**3.　コーヒーについて勉強したい人**

　コラムをご覧ください。コーヒーの種類・豆の種類・抽出方法などの基礎知識から、世界中のコーヒー情報をまとめて記事にしていきます。") %></div>
</div>