<% set_meta_tags title: 'Column', description: 'カフェ・コーヒーのコラムについて'  %>
</br>
<div class="cell"><h2 class="maint">Column</h2></div>

<div class="media-object">
  <div class="media-object-section">
  <%= image_tag("three.jpg",:size => "200x200") %>
  </div>
  <div class="media-object-section">
    <h4>インドネシア×COFFEE</h4>
    <p>インドネシアのコーヒー豆とは？インドネシアの生産国？などを紹介していきます。</p>
  </div>
</div>
</div>