
  <%= render 'static_pages/orbit' %>

<div class="grid-x grid-margin-x">

<div class="cell large-8">
<div class="grid-x grid-margin-x small-up-2 medium-up-4 large-up-4">
   <div class="cell">
   	<div class="card">
	  <img src="assets/one.jpg">
	  <div class="card-section">
	    <p>This is a simple card with an image.</p>
	  </div>
	</div>
   </div>
   <div class="cell">
   	<div class="card">
	  <img src="assets/two.jpg">
	  <div class="card-section">
	    <p>This is a simple card with an image.</p>
	  </div>
	</div>
   </div>
   <div class="cell">
   	<div class="card">
	  <img src="assets/three.jpg">
	  <div class="card-section">
	    <p>This is a simple card with an image.</p>
	  </div>
	</div>
   </div>
   <div class="cell">
   	<div class="card">
	  <img src="assets/four.jpg">
	  <div class="card-section">
	    <p>This is a simple card with an image.</p>
	  </div>
	</div>
   </div>
    <div class="cell">
   	<div class="card">
	  <img src="assets/one.jpg">
	  <div class="card-section">
	    <p>This is a simple card with an image.</p>
	  </div>
	</div>
   </div>
   <div class="cell">
   	<div class="card">
	  <img src="assets/two.jpg">
	  <div class="card-section">
	    <p>This is a simple card with an image.</p>
	  </div>
	</div>
   </div>
   <div class="cell">
   	<div class="card">
	  <img src="assets/three.jpg">
	  <div class="card-section">
	    <p>This is a simple card with an image.</p>
	  </div>
	</div>
   </div>
   <div class="cell">
   	<div class="card">
	  <img src="assets/four.jpg">
	  <div class="card-section">
	    <p>This is a simple card with an image.</p>
	  </div>
	</div>
   </div>
</div>
</div>

<div class="cell large-4">
		<div class="cell">サイドバー</div>
	</div>
</div>

</div>