<% set_meta_tags title: 'Edit', description: 'ユーザーのお気に入り' %>
<h1>Editing User</h1>

<%= render 'form', user: @user %>

<div id="login">
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>