<div class="cell"><h2 class="maint">Gallery</h2></div>
<div class="featured-image-block-grid">
  <div class="featured-image-block-grid-header small-10 medium-8 large-7 columns text-center">
  </div>
  <div class="row large-up-4 small-up-2">
     <% @art.mimages.each_with_index.reverse_each do |art, index| %>
  	<div class="featured-image-block column">
     <%= image_tag(art.url) %>
     </div>
     <% end %>
  </div>
</div>