<div class="cell"><h2 class="maint">Interview</h2></div>

<div class="grid-x">
<div class="cell large-8">
<div class="art-fukidashi">
<h2>自家焙煎の美味しいコーヒーをお届けしたい。</h2>
</div>
<div class="art-content">
自家焙煎コーヒーの魅力に気づき、来る日も来る日もコーヒーを飲んだ。こんなに美味しい飲み物がこの世にあるのか。体に電気が走った。それからというもの、朝はりんごとコーヒーを飲むのが日課になった。もちろん、コーヒーは豆からグラインダーで挽き、ドリップで１杯１杯丁寧に作る。500円玉サイズにお湯を注いでいき、お湯の淹れる速さは早くても遅くてもいけない。コーヒーに愛情を注ぎながら淹れることを意識するとちょうど良い早さになるだろう。コーヒーの温度は82〜85度。熱いお湯で注ぎすぎるとコーヒーに苦味がでてしまい、本来の味が損なわれてしまう。但し、焙煎から2週間以上経った豆は90度付近で淹れると良いだろう。なーぜ？熱いお湯はコーヒーの成分を抽出しやすくなっているからである。さて、カップはどうしよう？なんでもいい。というわけではなくマグカップではなく、もちろんコーヒーカップがいいだろう。マグカップに1杯分の量（180ml）を淹れると少なく感じ、見た目に物足りなさを感じてしまう。ここで一つ注意点がある。コップはコーヒーの温度と同じくらいに温めておくのが良いだろう。なぜなら、コップが常温の場合、コーヒーの温度と差があるため、少しお湯が冷めてしまうからである。お湯の温度、カップの温度にも気を配らなければいけない。コーヒーはなんて深いんだろう。。まだまだある、コーヒーの挽き具合である。粗挽き〜細挽きとあり、コーヒーの飲み方によって変えるのが一般的である。
粗挽きはドリップコーヒーなどを中心に、細挽きはエスプレッソなどがいいだろう。スペシャリティーコーヒーはドリップコーヒーで飲むケースがあるため、家では粗挽きでするのがいいだろう。
</div>
</div>

<div class="cell large-4">
<div>プロフィール写真</div>
<div>プロフィール説明</div>
<div>一押し商品</div>
</div>

</div>