<!--マップ-->
<div id="map"></div>

<!-- js部分 -->
<script type="text/javascript">
    function initMap() {

      //初期表示位置
      var latlng = new google.maps.LatLng(36.30, 139.5);
      //デザイン
      var styles = [
           {
            stylers: [
             { "saturation": -95 },
             { "lightness": -20 }
            ]
           }
          ];

      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 9,
          styles: styles,
          center: latlng
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      //複数マーカー ここから
      <% @art.each do |art| %>
      (function(){
        var contentString = "住所：<%= art.address %>"; 
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:{lat: <%= art.latitude %>, lng: <%= art.longitude %>},
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
          infowindow.open(map, marker, content);
        });
       })();
      <% end %>
      //複数マーカー ここまで  
  }
</script>
<script async defer
 src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD7w2r5cHPJkVvi9-pIjGokhX14nJwIKVA&callback=initMap">
</script>
