<%= provide(:title, '@art.title') %>

<div class="grid-x grid-margin-x small-up-2 medium-up-4 large-up-4">
<% @art.each do |art| %>
<div class="cell">
<div class="card">
  <%= image_tag art.images[0].url %>
  <div class="card-section">
  <%= link_to art_path(art) do %>
  <h4><%= art.storename %></h4>
  <% end %>
  <p class="cat-name cat-CULTURE">大阪・吹田市</p>
  </div>
  </div>
  </div>
  <% end %>
</div>
