<%= provide(:title, '@art.title') %>

<div class="grid-x grid-margin-x small-up-2 medium-up-4 large-up-4">
<% @art.each do |art| %>
<div class="cell">
<div class="card">
  <%= image_tag art.images[0].url %>
  <div class="card-section">
  <%= link_to art_path(art) do %>
  <h4><%= art.storename %></h4>
  <% end %>
<div class="entry-title">
					<p class="cat-name cat-CULTURE">CULTURE</p>
					<h3><a href="http://afro-fukuoka.net/archives/blog/nijiirodays_talkshow">
						佐野玲於&amp;横浜流星、来福！映画「虹色デイズ」トークショー						</a></h3>
					<h4>AFRO BLOG</h4>
				</div>
  </div>
  </div>
  </div>
  <% end %>
</div>
