$white: #fefefe;

// COMMON
:root{
  font-size: calc(0.55em + 0.7vw);
}

// Breakpoints
@mixin breakpoint($point) {
  @if $point == largeandup {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == mediumandup {
    @media (min-width: 40em) {
      @content;
    }
  }  @else if $point == smallonly {
    @media (min-width: 39.9375em) {
      @content;
    }
  }
}

#content {
  padding: 0 2rem;
  position: absolute;
  @include breakpoint(smallonly){
    top: 23%;
    padding: 0 1rem;
  }
  @include breakpoint(mediumandup){
    top: 40%;
  }
  @include breakpoint(largeandup){
    top: 50%;
  }
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    color: #f66a16;
    text-transform: uppercase;
    @include breakpoint(smallonly){
      font-size: 1.4rem;
    }
    @include breakpoint(mediumandup){
      font-size: 2rem;
    }
    @include breakpoint(largeandup){
      font-size: 2.2rem;
    }
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
  }
}

.text {
  letter-spacing: 1.6px;
  line-height: 180%;
  margin: 0px 15px;
  text-align: left;
}

// Foundation
/* Orbits */

.docs-example-orbit-slide {
  padding: 2rem 4rem;
  color: $white;

  .orbit-slide:nth-of-type(1) & {
    background: dodgerblue;
  }

  .orbit-slide:nth-of-type(2) & {
    background: rebeccapurple;
  }

  .orbit-slide:nth-of-type(3) & {
    background: darkgoldenrod;
  }

  .orbit-slide:nth-of-type(4) & {
    background: lightseagreen;
  }
}

/* XY-grid */
.cell {
  text-align: center;
  margin-bottom: 30px;
}

// Content
// layouts
/* Footer */
.footer {
  background-color: #232323;
  padding: 2rem 4rem;
  color: #fff;
}

.footer h4 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.3em;
}

.footer a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.0em;
}

.footer a span {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
}

.footer hr {
  border-color: rgba(255, 255, 255, 0.2);
  margin: 10px 0;
}

.footer a:hover {
  color: rgba(255, 255, 255, 0.8);
}

/* Breadcrumbs */

.breadcrumbs {
  float: left;
  margin-bottom: 100px;
}

.side-title {
  margin-top: 10px;
}


/* Sideline */
$sidelines-text-padding: 0.5em !default;
$sidelines-line-thickness: 1px !default;
$sidelines-line-length: 9999px !default;
$sidelines-line-color: null !default;
$sidelines-line-style: solid !default;
$sidelines-double-line: false !default;
$sidelines-double-line-spacing: 0.5em !default;

@mixin sidelines(
  $text-padding: $sidelines-text-padding,
  $line-thickness: $sidelines-line-thickness,
  $line-length: $sidelines-line-length,
  $line-color: $sidelines-line-color,
  $line-style: $sidelines-line-style,
  $double-line: $sidelines-double-line,
  $double-line-spacing: $sidelines-double-line-spacing ) {

  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 20px;

  span {
    display: inline-block;
    position: relative;
    padding-left: $text-padding;
    padding-right: $text-padding;

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: $line-length;
      top: 50%;
      border-top-style: $line-style;
      border-top-width: $line-thickness;

      @if $line-color != null {
        border-top-color: $line-color;
      }

      @if $double-line {
        border-bottom-style: $line-style;
        border-bottom-width: $line-thickness;
        border-bottom-color: $line-color;
        height: $double-line-spacing;
        margin-top: -($double-line-spacing/2);
      } @else if $line-thickness > 1 {
        margin-top: -(floor($line-thickness/2));
      }
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
    }
  }
}

.type-sidelines {
  @include sidelines();
}

.custom {
  @include sidelines(
    $text-padding: 20px,
    $line-length: 100%,
    $line-color: #232323,
    $line-thickness: 4px,
    $line-style: dotted
  );
}

// Arts
/* Table */
.this {
  font-size: 11px;
}

.this td {
  background-color: #f1f1f1;
  width: 100px;
}

.this th {
  text-align: left;
}

.url a {
  color: #3c3c35;
}

/* Article Title */
.maint {
    font-family: 'Montserrat';
    letter-spacing: 0px;
    font-weight: 700;
    background-color: #ffffff;
    padding: 10px; 
}

.pagetitle {
  background: #eae6dd;
  margin-top: 45px;
}

.page-top {
  margin-top: 45px;
}

/* Menu-text */
.logo {
  color: white;
}

/* Map-description */
.map-des {
  padding-top: 20px;
}

/* Interview */
.art-fukidashi h2 {
  letter-spacing: 1px;
  line-height: 160%;
  font-weight: bold;
  margin-bottom: 16px;
}

.art-profcontent {
  font-size: 10px;
  letter-spacing: 1px;
    line-height: 160%;
}

.int-side {
  padding: 0 20px;
  margin: 0 20px;
  background: #fff;
  border: 1px solid #E6E6E6;
  text-align: left;
}

.int-image {
  padding: 0 20px;
}

.int-staff {
  font-family: 'aleoreg';
  color: #880000;
  letter-spacing: 1px;
  margin: 8px 0;
}

.int-name {
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 160%;
  margin-bottom: 4px;
}

.entry-title {
    background: #fff;
    padding: 8px;
    border-bottom: 1px solid #E6E6E6;
    text-align: left;
    height: 108px;
}

.cat-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 140%;
  margin-bottom: 4px;
  text-transform: uppercase;
}

/* Menu */

.menu-title::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -75px;
    width: 150px;
    height: 1px;
    background: rgba(68, 68,68, 0.6)
}

.menu-title {
    position: relative;
    margin-bottom: 10px;
    margin-top: 40px;
    padding-bottom: 10px;
    /* font-size: 22px; */
    size: 2.2rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.4;
    letter-spacing: -0.04em;
    word-break: break-all;
    vertical-align: bottom;
    display: block;
}

.menu-content {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-style: oblique;
}

menu-contents {
  font-size: 0.8rem;
  font-family: monospace;
}

.title-bar-title {
  margin: 0 auto;
}

/* index */
.entry-title {
    background: #fff;
    padding: 16px;
    border-bottom: 1px solid #E6E6E6;
    height: 132px;
}

.card {
  margin-top: 20px;
}

.card-section a {
  color: black;
}

.css1 { font-size: 0.8em; }
.css2 { font-size: 0.8em; }
.css3 { font-size: 1.0em; }
.css4 { font-size: 1.0em; }

th.tag a {
  color: black;
}

.small-title {
  text-align: left;
}

.readmore {
    margin-top: 5px;
    z-index: 999999;
    background-color: #FFF;
    display: inline-block;
    float: right;
    padding-left: 10px;
}

.readmore a {
  font-size: 11px;
  letter-spacing: 0.1500em;
  font-style: italic;
  color: #222;
}

.big-title {
    border-bottom: solid 1px #232323;
    display: block;
    padding-top: 10px;
    margin-bottom: 15px;
}

.ranking-number {
 margin-top: 30px;
}

.ranking-image {
  width: 20vh;
}

.ranking-block {
  display: block;
  float: none;
  background-color: white;
  height: 90px;
}

h6.ranking-title {
  color: black;
  font-size: 14px;
}

h6.ranking-title a:hover{
  color: white;
}

#login a {
  color: black;
}

/* Google map */
#map {
  height: 400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width: auto;
}

/* arts/show tabs-title */
li.tabs-title a {
  font-size: 0.95rem;
}

/* arts/show gallery */
.featured-image-block-grid-header {
  margin-left: auto;
  margin-right: auto;
}

.featured-image-block {

  margin-bottom: 20px;
  
  .featured-image-block-title {
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    color: #404040;
  }
 
  a:hover {
    p {
      color: #f5f5f5;
    }
  }
}

/* Column */

.titlea {
  position:relative;
  padding-left:30px;
  border-bottom:2px solid #ccc;
  font-weight: bold;
  font-size: 22px;
  line-height: 38px;
  text-align: left;
}

.titlea:before {
  content:''; 
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px; 
  height:12px; 
  width:12px; 
  display:block; 
  position:absolute; 
  top:13px; 
  left:5px; 
  background-color:#7b5544;
  box-shadow: 0 0 2px 2px rgba(255,255,255,0.2) inset
}

.stringa {
  line-height: 2;
  padding: 20px 0;
  float: left;
  clear: both;
}
.imagea {
  clear: both;
}

.linktoart a {
  color: black;
}

.bigimg h1 {
    line-height: 3.125rem;
    color: #fefefe;
    text-shadow: 3px 3px 2px black;
    font-weight: 800;
}