<% @memos.each do |memo| %>
<div class="media-object">
  <div class="media-object-section">
  <div class="thumbnail">
  <%= image_tag memo.images.url, :size => "200x200" %>
    </div>
     </div>
   <div class="media-object-section linktoart">
    <%= link_to memo_path(memo) do %>
    <h3><strong><%= memo.title %></strong></h3>
    <% end %>
    <p><%= memo.shortcontent %></p>
  </div>
</div>
  <% end %>