<footer class="footer">
	<div class="grid-x small-up-1 medium-up-3">
		<div class="cell">
			<h4>About</h4>
			<hr>
			<span>
			COFFEE SEEKERは世界中の美味しいコーヒー・カフェを紹介するメディアです。スペシャリティーコーヒーを提供するカフェを中心に紹介していきます！
			</span>			
		</div>

	<div class="cell">
		<h4>Site Map</h4>
		<hr>
	   <%= link_to 'HOME', root_path %>
       <%= link_to 'CAFE', index_path %>
       <%= link_to 'ABOUT', about_path %>
	</div>

	<div class="cell">
		<h4>Social Media</h4>
		<hr>
		<a href="#">Facebook</a>
		<a href="#">Twitter</a>
		<a href="#">Instagram</a>
	</div>
	</div>
</footer>